<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портфолио разработчика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Портфолио разработчика</h1>
        <p>Добавьте свои проекты и ссылки на репозитории</p>
    </div>

    <div class="form-container">
        <form method="POST">
            <input type="text" name="title" placeholder="Название проекта" required>
            <input type="url" name="link" placeholder="Ссылка на репозиторий" required>
            <button type="submit">Добавить</button>
        </form>
        <!-- Кнопка для очистки -->
        <form method="POST" action="/clear">
            <button type="submit">Clear</button>
        </form>
    </div>

    <div class="projects">
        <h2>Мои проекты:</h2>
        <ul>
            {% for project in projects %}
                <li><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
